@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500&display=swap');


body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    font-family: Encode Sans Expanded;
    background: #1b1717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.header li {
    font-family: Encode Sans Expanded;
}

.menu {
    display: flex;
}

.menu li{
    margin: 0.5rem;
    
}

.menu_redes a{
    padding: 10px;
}

.menu_redes ul{
    display: flex;
}


#github-icon {
    list-style-image: url(/images/GitHub-Mark-Light-32px.png);
}

.menu li a{
    display: block;
    padding: 5px;  
    border-radius: 10px;
}

main .titulo {
    display: flex;
    margin: 100px;
    font-size: 80px;
    font-family: Encode Sans Expanded;
}

.text {
    margin: 100px;
    justify-content:left;
    text-align: left;
    width: 600px;
}

.cards {
    display: flex;
    float: right;
    width: 40px;
}

@media (max-width: 500px) {
        #logo {
         display: flex;
         margin: auto;
         padding: 5%;
     }

        .header {
            display: flex;
            justify-content: center;
        }

        main .titulo {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 300px;
            margin: 20px;
            font-size: 50px;
        }

        .text {
            margin: 30px;
            text-align: left;
            width: 300px;
        }
}
